 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 680px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 801px;
}

.u-section-2 .u-gallery-1 {
  width: 981px;
  height: 650px;
  grid-gap: 10px 10px;
  margin: 56px auto 60px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-6 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-7 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-item-8 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-gallery-1 {
    width: 720px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 81px;
    height: 81px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 81px;
    height: 81px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 81px;
    height: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-2 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 59px;
    height: 59px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 59px;
    height: 59px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 59px;
    height: 59px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 82px;
    height: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 510px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-carousel-thumbnail-2 {
    width: 34px;
    height: 34px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }

  .u-section-2 .u-carousel-thumbnail-1 {
    width: 48px;
    height: 48px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 530px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 530px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 50px 120px 0 17px;
}

.u-section-3 .u-text-2 {
  margin: 17px 43px 0 17px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 530px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  width: 496px;
  height: 370px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 446px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 19px;
    margin-left: 19px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 437px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 351px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 335px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 24px;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 335px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 0;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 269px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 268px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 41px;
    margin-right: 57px;
    margin-left: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 16px;
    margin-right: 97px;
    margin-left: 16px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 423px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 49px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 54px;
    margin-left: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 254px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 789px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 30px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 729px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 65px 127px 0 1px;
}

.u-section-4 .u-text-2 {
  margin: 32px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 729px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 81px;
  height: 81px;
  margin: 24px auto 0 21px;
}

.u-section-4 .u-text-3 {
  margin: -75px 141px 0 126px;
}

.u-section-4 .u-image-2 {
  width: 81px;
  height: 79px;
  margin: 10px auto 0 21px;
}

.u-section-4 .u-text-4 {
  margin: -64px 141px 0 126px;
}

.u-section-4 .u-image-3 {
  width: 81px;
  height: 81px;
  margin: 25px auto 0 21px;
}

.u-section-4 .u-text-5 {
  margin: -76px 141px 0 126px;
}

.u-section-4 .u-image-4 {
  width: 81px;
  height: 83px;
  margin: 13px auto 0 21px;
}

.u-section-4 .u-text-6 {
  margin: -75px 141px 0 126px;
}

.u-section-4 .u-image-5 {
  width: 81px;
  height: 82px;
  margin: 10px auto 0 24px;
}

.u-section-4 .u-text-7 {
  margin: -78px 141px 0 126px;
}

.u-section-4 .u-image-6 {
  width: 81px;
  height: 82px;
  margin: 39px auto 0 21px;
}

.u-section-4 .u-text-8 {
  width: 318px;
  margin: -82px auto 0;
}

.u-section-4 .u-image-7 {
  width: 84px;
  height: 85px;
  margin: 17px auto 0 21px;
}

.u-section-4 .u-text-9 {
  margin: -68px 141px 0 126px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 704px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 28px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 704px;
  }

  .u-section-4 .u-text-3 {
    font-weight: normal;
    width: auto;
    margin-top: -81px;
    margin-right: 58px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 18px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-4 {
    font-weight: normal;
    width: auto;
    margin-right: 58px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 27px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-5 {
    font-weight: normal;
    width: auto;
    margin-right: 58px;
    margin-left: 129px;
  }

  .u-section-4 .u-image-4 {
    margin-left: 24px;
  }

  .u-section-4 .u-text-6 {
    font-weight: normal;
    width: auto;
    margin-top: -83px;
    margin-right: 33px;
    margin-left: 129px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 20px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -76px;
    margin-right: 58px;
    margin-left: 128px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 38px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-right: 23px;
    margin-left: 129px;
  }

  .u-section-4 .u-image-7 {
    margin-top: 19px;
    margin-left: 18px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: -74px;
    margin-right: 91px;
    margin-left: 128px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 762px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 721px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 721px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 0 0 29px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 52px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -75px;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 25px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -79px;
    margin-right: 10px;
    margin-left: 116px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -80px;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 25px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -66px;
    margin-right: 0;
    margin-left: 115px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 26px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -78px;
    margin-right: 0;
    margin-left: 116px;
  }

  .u-section-4 .u-image-7 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -77px;
    margin-right: 0;
    margin-left: 116px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 249px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 51px;
    margin-right: 68px;
    margin-left: 11px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-right: 30px;
    margin-left: 11px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 712px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: -81px;
    margin-right: -5px;
    margin-left: 114px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 24px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -75px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1253px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 30px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 24px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 893px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 10px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -77px;
    margin-right: 0;
    margin-left: 107px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 14px;
    margin-left: 5px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -79px;
    margin-right: 0;
    margin-left: 107px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 41px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -78px;
    margin-right: 0;
    margin-left: 107px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 15px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 107px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 17px;
    margin-left: 10px;
  }

  .u-section-4 .u-text-7 {
    margin-top: -70px;
    margin-right: 0;
    margin-left: 103px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 32px;
    margin-left: 6px;
  }

  .u-section-4 .u-text-8 {
    margin-top: -82px;
    margin-left: 99px;
  }

  .u-section-4 .u-image-7 {
    margin-top: -3px;
    margin-left: 4px;
  }

  .u-section-4 .u-text-9 {
    margin-top: -67px;
    margin-right: 0;
    margin-left: 100px;
  }
}