 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px 157px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 57px;
    margin-right: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 166px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 907px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 282px;
  height: 340px;
  margin: 0 auto 0 108px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-2 {
  margin-top: 23px;
  margin-bottom: 47px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 377px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 222px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 377px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  width: 429px;
  height: 185px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-2 .u-image-2 {
    height: 273px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 311px;
  }

  .u-section-2 .u-image-3 {
    height: 179px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 311px;
  }

  .u-section-2 .u-image-4 {
    width: 410px;
    height: 177px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 883px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 253px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 18px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-2 .u-image-2 {
    height: 200px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 238px;
  }

  .u-section-2 .u-image-3 {
    height: 131px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 238px;
  }

  .u-section-2 .u-image-4 {
    width: 300px;
    height: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1390px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 400px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 17px 10px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 115px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 380px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 347px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0;
  }

  .u-section-2 .u-image-3 {
    height: 227px;
    width: 520px;
    margin: 401px auto -271px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0 10px;
  }

  .u-section-2 .u-image-4 {
    width: 474px;
    height: 214px;
    margin-top: -294px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 47px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-2 .u-image-1 {
    margin-right: 15px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 239px;
  }

  .u-section-2 .u-image-2 {
    height: 214px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 278px;
  }

  .u-section-2 .u-image-3 {
    height: 148px;
    margin-top: 301px;
    margin-bottom: -171px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 225px;
  }

  .u-section-2 .u-image-4 {
    height: 144px;
    margin-top: -223px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 878px;
}

.u-section-3 .u-gallery-1 {
  width: 1129px;
  height: 764px;
  grid-gap: 10px 10px;
  margin: 57px auto 57px 0;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-5 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-6 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-7 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-8 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-9 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-9 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-10 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-10 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-11 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-11 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-12 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-12 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-13 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-13 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-14 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-14 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-15 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-15 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-16 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-16 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-17 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-17 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-18 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-18 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-19 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-19 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-20 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-20 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-item-21 {
  margin-right: 0;
}

.u-section-3 .u-over-slide-21 {
  min-height: 100px;
  padding: 10px;
}

.u-section-3 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-gallery-1 {
    width: 940px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-gallery-1 {
    width: 720px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-gallery-1 {
    width: 540px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 16px;
    height: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }

  .u-section-3 .u-carousel-thumbnail-1 {
    width: 7px;
    height: 7px;
  }
}